.footer__column-links {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
}