@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  overflow-x: hidden;
}
.header__title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  align-items: center;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  z-index: 2;
}
.header__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  display: block;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}
.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  z-index: 1;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__link:hover {
  transition: 0.35s;
  opacity: 0.4;
}
.logo {
  height: 32px;
  width: 228px;
}
.logo_place_header {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 64px;
}
/*БЛОК DISCRIPTION*/
.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 0;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.two-columns__brief {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 30px 0 0 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2em;
  font-size: 18px;
  color: #2f80ed;
  width: 175px;
}
.two-columns__main-text {
  display: block;
  min-width: 784px;
  width: 80%;
}
.two-columns__paragraph {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  margin: 30px 0 0 0;
}
.two-columns__span-accent {
  padding-bottom: 0px;
  font-weight: bold;
}
.two-columns__paragraph:nth-child(1) {
  margin: 0;
}
.section-title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  z-index: 1;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
}
.section-subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  margin: 20px 0 0 0;
}
/*БЛОК ТЕХНИКС*/
.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 0;
}
.cards {
  display: grid;
  width: 80%;
  justify-content: center;
  grid-template-columns: repeat(3, 240px);
  grid-column-gap: 100px;
}
.cards__item {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-top: 60px;
  align-items: center;
}
.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 43px;
}
.cards__title {
  margin: 0 0 16px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.cards__description {
  line-height: 23px;
  font-size: 18px;
  text-align: center;
}
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 0;
}
.video__iframes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 50px;
}
.video__iframe {
  height: 316px;
  width: 515px;
  margin-right: 20px;
  border: 0;
}
.video__iframe:nth-child(2n) {
  margin-right: 0;
}
.oakley {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background-color: #f2f2f2;
}
/*БЛОК FEYNMAN*/
.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 790px;
  padding-top: 100px;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
.feynman__title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-align: center;
  width: 648px;
  font-weight: bold;
  line-height: 1.15em;
  font-size: 120px;
  z-index: 2;
  margin: 0;
}
.feynman__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  z-index: 2;
}
.feynman__main-illustration {
  position: absolute;
  height: 637px;
  width: 867px;
  z-index: 1;
  bottom: 0;
  left: 0;
}
.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
.feynman__link:hover {
  transition: 0.35s;
  opacity: 0.4;
}
.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.table {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  display: flex;
  width: 1100px;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
  flex-direction: column;
  list-style-type: none;
}
.table__heading {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  line-height: 1.15em;
  font-size: 24px;
}
.table__text {
  font-weight: normal;
  line-height: 1.2em;
  font-size: 18px;
  margin: 20px 0 0 0;
}
/*КХАН*/
.khan {
  display: flex;
  padding-top: 105px;
  background-color: #f2f2f2;
  justify-content: center;
}
.khan__container {
  width: 80%;
}
.khan__author {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.khan__quote {
  width: 790px;
  margin: 50px 0 0 0;
  line-height: 34px;
  font-size: 24px;
}
.khan__quote-author {
  margin: 36px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.khan__quote-author-subline {
  margin: 10px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
}
.khan__book-container {
  display: flex;
  margin-top: 68px;
}
.khan__book-pic {
  width: 620px;
  height: 608px;
  object-position: 0 0;
  object-fit: cover;
}
.khan__buy-link {
  height: 100%;
  margin: 0 0 0 20px;
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
  text-decoration: none;
}
.khan__buy-link:hover {
  transition: 0.35s;
  opacity: 0.4;
}
/*БЛОК KAUFMAN*/
.kaufman {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  align-items: center;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.kaufman__triangle {
  position: absolute;
  height: 877px;
  width: 877px;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  top: 0;
  background-size: cover;
  z-index: -1;
}
.rotation {
  animation: rotation 20s linear infinite;
}
.section-title_theme_dark {
  color: white;
}
.section-subtitle_theme_dark {
  color: white;
}
.table_theme_dark .table__cell {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 217px;
}
.resources__logo-zone {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding: 0;
  margin: 80px 0 0 0;
}
.resources__link {
  opacity: 1;
}
.resources__logo-link:hover {
  transition: 0.35s;
  opacity: 0.4;
}
.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}
.footer__author {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  line-height: 25px;
  font-size: 18px;
  color: white;
  margin: 18px 0 18px 0;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0 0 20px 0;
}
.footer__column-links {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.footer__column-link:hover {
  transition: 0.35s;
  opacity: 0.4;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  color: white;
}
