.khan__buy-link {
  height: 100%;
  margin: 0 0 0 48px;
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
  text-decoration: none;
  transition: 1s;
}
.khan__buy-link:hover {
  opacity: 0.4;
}